body {
	font-family: "Lato", Arial, sans-serif;
    font-size: 20px;
    background: #eee;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	color: #0069CB;
}

#container {
    width: 85%;
    margin: 0 auto;
    background: #fff;
}

#header {
    text-align: center;
}

#header h1 {
    font-size: 3.2em;
    margin: 0 auto;
    padding-top: 10px;
}

#header p {
    color: #6f6f6f;
    font-size: 1em;
    margin-bottom: 1.5em;
}

#menu-bar {
    padding: 20px;
    background: #00396E;
}

#menu-bar ul {
    text-align: center;
    padding: 0;
}

#menu-bar li {
    display: inline-block;
    margin-right: 20px
}

#menu-bar a {
    text-decoration: none;
    color: #ddd;
    background: #0069CB;
    padding: 10px;;
    border: 2px solid #000;
    border-radius: 50px;
}

#menu-bar a:hover {
    color: #0069CB;
    background: #ddd;
}

#container section:nth-child(even) {
    background: #f8f8f8;
}

#container section:nth-child(odd) {
    background: #fff;
}

section h2 {
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
    margin: 0;
}

.content-box {
    text-align: center;
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
}
.content {
    width: auto;
}

.content-box p {
    padding: 20px 25px;
}

.content-box #about-me-img {
    width: 30%;
    float: left;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
}

#term {
    display: inline-block;
    width: 30%;
}

#term h3 {
    margin: 10px 0;
}

#experience ul {
    text-align: center;
    padding: 0;
}

#experience li {
    display: block;
}

#experience li img {
    width: 25%;
    margin-top: 10px;
    padding: 5px;
}

#experience li img:hover {
    background: rgba(100,100,100,0.1);
    border-radius: 15px;
}

#experience li p {
    width: 50%;
    margin: 0 auto;
}

#experience h4 {
    text-decoration: underline;
    color: #777;
}

#experience hr {
    width: 100%;
    margin: 20px auto;  
}

#education img {
    width: 40%;
}

#education p {
    margin-top: 0;
    padding-top: 0;
}

#education .content-box div {
    display: inline-block;
    width: 40%;
}

.courses ul {
    text-align: center;
}
.courses li {
    padding-bottom: 5px;
}