body {
	font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	color: #0069CB;
}

#container {
    width: 85%;
    margin: 0 auto;
}

#header {
    text-align: center;
}

#header h1 {
    font-size: 4em;
    margin-bottom: 0;
}

#header h2 {
    font-size: 1.3em;
    margin-bottom: 1.5em;
}

#menu-bar ul {
    text-align: center;
}

#menu-bar li {
    display: inline-block;
    margin-right: 20px
}

#menu-bar a {
    text-decoration: none;
    color: #ddd;
    background: #0069CB;
    padding: 10px;;
    border: 2px solid #000;
    border-radius: 50px;
}

#menu-bar a:hover {
    color: #0069CB;
    background: #ddd;
}