body {
	font-family: "Lato", Arial, sans-serif;
    font-size: 20px;
    background: #FFF;
    margin: 0 auto;
    display: none;
}

body > * {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #0069CB;
}

main {
    width: 100%;
    padding-top: 60px;
}

main p {
    line-height: 1.3em;
    font-size: 0.8em;
}

/*================*/
/*     Header     */
/*================*/
header {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding-bottom: 25px;
}

header h1 {
    font-size: 3.2em;
    margin: 20px auto 0;
    padding-top: 10px;
}

header p {
    color: #070707;
}

header h1 + p {
    font-style: italic;
    color: #777;
}

#links ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

#links ul:after {
    display: block;
    content: "";
    clear: both;
}

#links li {
    display: inline-block;
    font-size: 2.5em;
    margin: 1% 1%;
    text-align: center;
}

#links a {
    text-align: center;
    list-style-type: none;
    color: #0069CD; 
}

#links a:hover {
    color: #777;
}

#resume {
    text-decoration: none;
    color: #2D2D2D;
    font-weight: bold;
}

#resume:hover {
    text-decoration: underline;
}

/*================*/
/*   Navigation   */
/*================*/
#menu-bar {
    background: #001C35;
    height: 60px;
    z-index: 150;
    box-shadow: 0 2px 3px rgba(0,0,0, 0.4);
    margin-bottom: -60px;
    -webkit-position: sticky; /* Safari */
    position: sticky;
    top: 0;
}

#toggle {
    width: 90%;
    padding: 10px 5%;
    background-color: #001C35;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 1.5em;
    display: none;
}

#menu-bar ul {
    text-align: center;
    padding: 0;
    margin: 0;
    
}

#menu-bar li {
    display: inline-block;
    width: 19%;
    margin: 0;
    vertical-align: middle;
    padding: 18px;
}

#menu-bar a {
    text-decoration: none;
    color: #EFF1F3;
}

#menu-bar li:hover {
    background-color: #0069CB;
}

.active {
    color: #57CBF9;
    border-bottom: 0.5px solid #57CBF9;
}

/*================*/
/*    Content     */
/*================*/
section {
    padding-bottom: 20px;
    border: 1px solid #DEDEDE;
}

main section:nth-child(even) {
    background: #f8f8f8;
}

main section:nth-child(odd) {
    background: #fff;
}

section h2 {
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
    margin: 0;
}

.content-box {
    width: 900px;
    margin: 0 auto;
    padding: 20px 0;
}

/*================*/
/*    About Me    */
/*================*/

#about-me .content-box {
    text-align: center;
}

#about-me .content-box img {
    width: 250px;
    vertical-align: middle;
    margin: 0 10px;
}

#about-me .content-box p {
    display: inline-block;
    margin: 0 auto;
    width: 50%;
    
}

/*================*/
/*     Skills     */
/*================*/

#skills .content-box {
    width: 40%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 4.5%;
}

#skills .content-box ul {
    list-style-type: none;
    padding: 0;
}

#skills .content-box ul li {
    display: inline-block;
    margin: 5px;
    padding: 8px;
    border: 1px solid #0069CD;
    border-radius: 5px;
}

/*================*/
/*    Projects    */
/*================*/

#projects .content-box {
    width: 40%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 4.5%;
}

#projects .content-box ul {
    list-style-type: none;
    padding: 0;
}

#projects .content-box ul li {
    font-size: 0.8em;
    display: inline-block;
    margin: 5px;
    padding: 8px;
    border: 1px solid #0069CD;
    border-radius: 5px;
}

#projects .content-box p {
    padding: 0 5px;
}

/*================*/
/*  Involvements  */
/*================*/

#involvements .content-box  {
    text-align: center;
}

#involvements .content-box img {
    width: 200px;
    vertical-align: middle;
    margin: 0 10px;
}

#involvements .content-box p {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    
}

/** Back to Top **/

#back-to-top {
    text-align: center;
    cursor: pointer;
    color: #0069CB;
    font-size: 2em;
    position: fixed;
    bottom: 45px;
    right: 2%;
    display: none;
}

/*================*/
/*     Footer     */
/*================*/

footer {
    font-size: 0.7em;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001C35;
}

footer a {
    display: inline-block;
    color: #EFF1F3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer a:hover {
    background-color: #0069CB;
}

footer li {
    float: right;
}

footer li:nth-child(2) {
    padding-right: 4%;
}

footer #name-link {
    float: left;
    padding-left: 4%;
}

/*********************
*
*   MEDIA QUERIES
*
*********************/

@media screen and (max-width: 900px) {
    .content-box {
        width: 700px;
    }
}

/* Tablet size */ 
@media screen and (max-width: 768px) {

    .content-box {
        width: 100%;
    }

    header {
        width: 80%;
    }
    
    header h1 {
        font-size: 2.5em;
    }
    
    main {
        padding-top: 54px; 
    }
    
    #menu-bar {
        height: 54px;
        margin-bottom: -54px;
    }
    
    #toggle {
        display: block;
    }
    
    #menu-bar ul {
        overflow: hidden;
        background: #002B51;
        display: none;
    }
    
    #menu-bar ul.open {
        height: auto;
    }
    
    #menu-bar li {
        width: 94%;
        margin: 0%;
        padding: 3%;
    }
    
    .active {
        color: #57CBF9;
        border-top: 0.25px solid #57CBF9;
        border-bottom: 0.25px solid #57CBF9;
    }
    
    /* About Me */

    /* Skills */

    #skills .content-box {
        width: 40%;
        margin: 0 4.5%;
    }

    
    


    
}

@media screen and (max-width: 480px) {
    
    header {
        width: 90%;
    }
    
    .content-box {
        width: 350px;
    }
    
    footer li {
        width: 100%;
        text-align: center;
    }
    
    footer a {
        padding: 14px;
        margin: 0;
    }
    
    footer li:nth-child(2) {
        padding-right: 0;
    }

    footer #name-link {
        float: none;
        padding-left: 0;
    }
    
    /* About Me */

    #about-me .content-box p {
        width: 100%;
        margin-top: 15px;
    }

    /* Skills */

    #skills .content-box {
        display: block;
        width: 350px;
        margin: 0 auto;
        padding: 10px 0;
    }
    /* Projects */

    #projects .content-box {
        display: block;
        width: 350px;
        margin: 0 auto;
        padding: 10px 0;
    }

    /* Involvements */

    #involvements .content-box {
        padding: 10px 0;
    }

    #involvements .content-box p {
        width: 100%;
        margin-top: 15px;
    }
    
}
@media screen and (max-width: 350px) {
    .content-box {
        width: 300px !important;
    }
}