footer {
    font-size: 0.7em;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001C35;
}

footer a {
    display: inline-block;
    color: #EFF1F3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer a:hover {
    background-color: #0069CB;
}

footer li {
    float: right;
}

footer li:nth-child(2) {
    padding-right: 4%;
}

footer #name-link {
    float: left;
    padding-left: 4%;
}

@media screen and (max-width: 480px) {
    footer li {
        width: 100%;
        text-align: center;
    }
    
    footer a {
        padding: 14px;
        margin: 0;
    }
    
    footer li:nth-child(2) {
        padding-right: 0;
    }

    footer #name-link {
        float: none;
        padding-left: 0;
    }
}