#interests .content-box ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#interests .content-box ul li {
    text-align: center;
    padding: 8px;
    border: 1px solid #0069CD;
    border-radius: 5px;
    width: fit-content;
    margin: 5px auto;
    cursor: default;
}
