#projects {
    text-align: center;
}

#projects .content-box {
    width: 40%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 4.5%;
}

#projects .content-box ul {
    list-style-type: none;
    padding: 0;
}

#projects .content-box ul li {
    font-size: 0.8em;
    display: inline-block;
    margin: 5px;
    padding: 8px;
    border: 1px solid #0069CD;
    border-radius: 5px;
}

#projects .content-box ul li:hover {
    background: #DEDEDE;
}

#projects .content-box p {
    padding: 0 5px;
}

@media screen and (max-width: 480px) {
    #projects .content-box {
        display: block;
        width: 350px;
        margin: 0 auto;
        padding: 10px 0;
    }
}